# Data Manipulation & Logging
pandas
tqdm
ipywidgets

# Data Sources
wikipedia-api
datasets

# RAG Framework & Orchestration
langchain
langgraph
langchain-groq
langchain-community
langchain-core
langchain-text-splitters
faiss-cpu

# Vector Database & Embeddings
chromadb
sentence-transformers
rank_bm25

# Notebook Support (for VS Code/Jupyter)
ipykernel
notebook
matplotlib